
.form{
    label{
        margin-bottom: 10px;
        margin-top: 20px;
        display: block;
        font-family: $font_med;
        clear: both;
    }
    .select{
        margin-bottom: 15px;
        &.left{
            float: left;
            width: 45%;
            @include mixin_clearfix;
        }
        &.right{
            float: right;
            width: 45%;
            @include mixin_clearfix;
        }
    }
    .input{
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid $input_border_color;
        display: block;
        height: 36px;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 10px;
        &.miles{
            padding-right: 65px;
            text-align: right;
        }
        &.submit{
            cursor: pointer;
        }
    }
    .input_wrap{
        position: relative;
        @include mixin_clearfix;
        &.left{
            float: left;
            width: 45%;
            @include mixin_clearfix;
        }
        &.right{
            float: right;
            width: 45%;
            @include mixin_clearfix;
        }
        label.miles {
            position: absolute;
            right: 2px;
            top: 0;
            line-height: 38px;
            font-family: $font_reg;
            margin: 0;
        }
    }
}
