
.results{
    padding-top: 20px;
    .results_item{
        position: relative;
        margin-bottom: 10px;
        padding-left: 51%;
        height: 200px;
        .preview{
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background-color: $input_border_color;
        }
        .title{
            margin-bottom: 10px;
            a{
                font-family: $font_reg;
                font-weight: bold;
                color: $links_color;  
                text-decoration: none;
                span{
                    border-bottom: 1px solid transparent;
                    @include mixin_transition(.2s);
                    &:hover{
                       border-bottom: 1px solid $links_color;
                    }
                }
            }
        }
    }
}