
$font_reg: 'MontserratRegular', sans-serif;

$main_bg:#cee8b5;
$burger_color:#202020;
$header_top_bg: #202020;
$header_top_links_color: #fff;
$menu_links_color: #202020;
$menu_border_color: #202020;
$scroll_to_top: #202020;
$input_border_color: #ccc;
$links_color: #202020;

$font_16: 16px;
$font_20: 20px;

@mixin mixin_transition($time) {
    -webkit-transition: $time ease-in-out;
    -moz-transition: $time ease-in-out;
    -ms-transition: $time  ease-in-out;
    -o-transition: $time ease-in-out;
    transition: $time ease-in-out;
}
  
@mixin mixin_rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin mixin_clearfix{
    &:after{
        content: ' ';
        display: block;
        float: none;
        clear: both;
    }
}
  